extends ../layouts/layout
block var

block page_css
  //- link(rel="stylesheet" type="text/css" href="/assets/css/top.css")

block page_js
  //- script(src="/assets/js/top.js")


block main
  div hello 